html{
  font-size: 100%;
}
video {
    background-size: cover;
    width: 100% ;
    height: auto ;
    z-index: 1;
    filter: brightness(50%);
}
#btnCTA1
{
    background-color: rgba(3, 113, 123,1);
 }

#navbarTop
{
    z-index: 9999;
}

/*police*/
h1
{
    font-size: 5vw ;
}
.lead
{
    font-size: 1.5vw ;
}

#btnCTA1
{
    font-size: 2vw;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-track {
    background: #03717B;
}
.mt-n2 {
    margin-top: -6px ;
}


/*sticky navbar*/
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.content {
    padding: 16px;
}

.sticky {
    position: fixed ;
    top: 0;
    width: 100%;
}

 .content {
    padding-top: 60px ;
}

/* icone pour le bouton menu petit ecran */
#btnmenu
{
    border: none;
}
#btnmenu:focus
{
    outline: none;
}

#collapsingNavbarTop{
    font-size: 1vw;
}


/*qui suis je*/
/*#quisuisje {*/
/*    overflow: visible; !* For IE *!*/
/*    padding: 0;*/
/*    !*border: none;*!*/
/*    border-top: medium double #03717B;*/
/*    text-align: center;*/
/*}*/
/*#quisuisje:after {*/
/*    content: "Qui suis-je ?";*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    top: -1em;*/
/*    font-size: 1.5em;*/
/*    padding: 0 0.25em;*/
/*    background: white;*/
/*}*/

#tiret:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(3, 113, 123)  ;
}
#tiret:after{
    content: " ";
    background-color: rgb(254,198,79);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 45%;
    top: -35%;

}
#tiret
{
    width: 100%;
    height: 20px;
}
