/*------------------------------------------------------------------------------*/
/*principal*/
/*------------------------------------------------------------------------------*/
html {
    font-size: 100%;
}

/*------------------------------------------------------------------------------*/
/*Scrollbar*/
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-track {
    background: #03717B;
}

.mt-n2 {
    margin-top: -6px;
}

/*------------------------------------------------------------------------------*/
/*mise en page des titres de section*/
#tiret:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(3, 113, 123);
}

#tiret:after {
    content: " ";
    background-color: rgb(254, 198, 79);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 45%;
    top: -35%;

}

#tiret {
    width: 100%;
    height: 20px;
}

:target {
    border-top: 50px solid transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: none; /* Supprimer la outline disgracieuse de Chrome */
}

/*------------------------------------------------------------------------------*/
/*header*/
/*------------------------------------------------------------------------------*/
video {
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: 1;
    filter: brightness(50%);
}

#btnCTA1 {
    background-color: rgba(3, 113, 123, 1);
}

#navbarTop {
    z-index: 9999;
}

/*------------------------------------------------------------------------------*/
/*sticky navbar*/
.content {
    padding: 25px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    padding-top: 60px;
}

/*-----------------------------------------------------------------------------*/
/*skills*/
/*------------------------------------------------------------------------------*/

.fa-star {
    color: #03717B;
}

.checked {
    color: rgb(254, 198, 79);
}

/*-----------------------------------------------------------------------------*/
/*Timeline*/
/*------------------------------------------------------------------------------*/

.timeline-sec ol.timeline {
    margin: 380px 0;
    padding: 0;
    border-top: 3px solid rgb(254, 198, 79);
    list-style: none;
    width: 90%;
}

.timeline-sec ol.timeline li {
    padding-top: 30px;
    position: relative;
    margin: 0 0 !important;
    width: 10%;
    display: flex;
    justify-content: center;
}

.timeline-sec ol.timeline li span {
    width: 75px;
    height: 75px;
    position: absolute;
    border: #03717B solid 3px;
    border-radius: 50%;
    background-color: white;
    top: -38px;
}

.timeline-sec ol.timeline li span.sp-top:before {
    content: '';
    width: 3px;
    height: 150px;
    background: #03717B;
    position: absolute;
    top: -150px;
    left: 50%;
}

.timeline-sec ol.timeline li span.sp-top:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #03717B;
    position: absolute;
    bottom: 210px;
    left: 46%;
    border-radius: 100%;
}

.timeline-sec ol.timeline li span.sp-bot:before {
    content: '';
    width: 3px;
    height: 150px;
    background: #03717B;
    position: absolute;
    bottom: -150px;
    left: 50%;
}

.timeline-sec ol.timeline li span.sp-bot:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #03717B;
    position: absolute;
    top: 210px;
    left: 46%;
    border-radius: 100%;
}

.timeline-sec ol.timeline li p {
    width: 150%;
    margin-bottom: 0;
    font-size: 1rem;
}

.timeline-sec ol.timeline li .top {
    position: absolute;
    bottom: 0;
    margin-bottom: 300px;
}

.timeline-sec ol.timeline li .bot {
    position: absolute;
    margin-top: 200px;
}


/*---------------------------------------------------------------------------*/
/*hobbies*/
/*---------------------------------------------------------------------------*/
.card {
    border: none;
}

/*-----------------------------------------------------------------------------*/
/*Footer*/
/*------------------------------------------------------------------------------*/
.rounded {
    width: 50px;
    height: auto;
}