/*------------------------------------------------------------------------------*/
/*Grand ecran*/
/*------------------------------------------------------------------------------*/

@media screen and (min-width: 992px) {
    /*header*/
    #TitreVideo {
        z-index: 6;
        top: 30%;
        left:15%;
    }

    #faviconZB {
        width: 50px;
        height: 50px;
    }

    /*police*/
    h1 {
        font-size: 5vw;
    }

    .lead, #collapsingNavbarTop {
        font-size: 1.5vw;
        margin: 0;
    }

    #btnCTA1 {
        font-size: 2vw;
    }

    #imgMarque {
        width: 350px;
    }

    /*------------------------------------------------------------------------------*/
    /*about*/
    .about-content {
        width: 550px;
    }

    /*------------------------------------------------------------------------------*/
    /*skills*/
    .competence-img {
        width: 70%;
        height: auto;
    }

    #TitrePortfolio{
        top: 100px;
    }

    /*------------------------------------------------------------------------------*/
    /*skills*/
    #verifcontact {
        width: 1200px;
    }
    #cv {
        font-size: 1.5rem;
    }
}

/*---------------------------------------------------------------------------------*/
/*Extra petit ecran*/
/*---------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
    /* icone pour le bouton menu petit ecran */
    #btnmenu {
        border: none;
    }

    #btnmenu:focus {
        outline: none;
    }

    #collapsingNavbarTop {
        font-size: 5vw;
    }

    /*header*/
    #TitreVideo {
        z-index: 6;
        top: 20%;
        left: 7%;
    }

    #faviconZB {
        width: 30px !important;
        height: 30px;
    }

    #imgMarque {
        width: 150px;
    }

    /*police*/
    h1 {
        font-size: 10vw;
    }

    .lead {
        font-size: 2.5vw;
        margin: 0;
    }

    #btnCTA1, #collapsingNavbarTop {
        font-size: 3vw;
    }

    /*------------------------------------------------------------------------------*/
    /*about*/
    .about-content {
        width: 100%;
    }

    /*------------------------------------------------------------------------------*/
    /*skills*/
    .competence-img {
        width: 40%;
        height: auto;
    }

    #icoPortfolio{
        width: 30px;
        height: 30px;
    }


    /*------------------------------------------------------------------------------*/
    /*timeline*/
    .timeline-sec ol.timeline {
        margin: 5vw !important;
        border-left: 2px solid #348e80;
        padding-top: 120px !important;
        border-top: 0 !important;
        margin-left: 15vw !important;
    }

    .timeline-sec ol.timeline li {
        height: 200px;
        width: inherit !important;
    }

    .timeline-sec ol.timeline li:last-child {
        height: 120px;
    }

    .timeline-sec ol.timeline li span {
        margin-left: -100%;
    }

    .timeline-sec ol.timeline li span.sp-top:before {
        content: none !important;
    }

    .timeline-sec ol.timeline li span.sp-top:after {
        content: none !important;
    }

    .timeline-sec ol.timeline li span.sp-bot:before {
        content: none !important;
    }

    .timeline-sec ol.timeline li span.sp-bot:after {
        content: none !important;
    }

    .timeline-sec ol.timeline li .top {
        width: 60% !important;
        right: 0;
        top: -40px;
    }

    .timeline-sec ol.timeline li .bot {
        width: 60% !important;
        right: 0;
        margin-top: 80px !important;
        top: -120px;
    }
}

/*---------------------------------------------------------------------------------*/
/*safari*/
/*---------------------------------------------------------------------------------*/
@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance:none) and (display:flow-root) {
        /*header*/
        #TitreVideo {
            top: 15% !important;
        }

        .safari {
            margin-left: -50% !important;
        }

        #moi {
            width: 75%;
            height: 75%;
        }
    }

}

/*---------------------------------------------------------------------------------*/
/*Moyen ecran*/
/*---------------------------------------------------------------------------------*/
@media screen and (max-width: 1300px) {

    /*------------------------------------------------------------------------------*/
    /*about*/
    .about-content {
        width: auto;
    }

    /*------------------------------------------------------------------------------*/
    /*contact*/
    #verifcontact {
        width: 90%;
    }

    .form-control{
        width: 100% !important;
    }
}